@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600&display=swap');

:root {
  --primary-color: hsl(217, 50%, 7%);
  --secondary-color: #2b3544;
  --secondary-hsl: hsl(216, 23%, 22%);

  --font-family: 'Rubik', sans-serif;
  --second-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  --font-color: rgba(255, 255, 255, 0.74);
  /* #93979d */
  --grey: hsl(216, 5%, 38%); 
  --indicator: #fa9d8d;

  --low-rating: #FF2E00;
  --med-rating: #FFD23F;
  --high-rating: #a5cf4f;
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  line-height: 1.6;
  font-family: var(--font-family);
  font-size: 1rem;
  margin: 0;
  background-color: var(--primary-color);
}

header{
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  background-color: var(--secondary-color);
  align-items: center;
  height: auto;
  min-height: 15vh;
  background: linear-gradient(
    to top,
    hsl(217, 50%, 7%) 0%,
    hsl(216, 23%, 22%) 98.9%,
    hsl(216, 5%, 38%) 100%
  );
}

/* Left Logo */


.logo{
  position: relative;
  height: 12vh;
}

svg {
  height: 100px;
  width: 100px;
}

svg .st1 {
  fill: #93979d;
}

svg:hover .st0 {
  transition: all 200ms ease;
  fill:#fa9d8d;
}


.logo_text{
  color: var(--primary-color);
  font-size: 0.7rem;
  text-align: center;
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 100%;
  /* Moves it off logo to begin with */
  transform: translateY(100%);
  transition: transform 0.3s ease-in, opacity 0.4s ease-in;
}

.logo:hover .logo_text{
  transform: translateY(-50%);
  opacity: 1;
}

.logo_text a{
  text-decoration: none;
  color: var(--primary-color);
  transition: color 0.2s ease-in;
}

.logo_text a:hover {
  color: var(--indicator);
}


/* Search bar styling */
header .search {
  background-color: transparent;
  border: 2px solid var(--font-color);
  border-radius: 50px;
  padding: 0.7rem;
  font-size: 1rem;
  color: #fff;
  width: 20rem;
  transition: width 200ms ease-in, outline 350ms linear;
  transition-delay: 0.1s;
  margin-left: 10px;
  text-align: center;
}

header .search::placeholder{
  color: rgba(255,255,255, 0.55);
}

.search:focus-visible {
  text-align: left;
  width: 30rem;
  outline: 2px solid #fa9d8d;
  background-color: var(--primary-color);
  border: 0;
}

.search:focus-visible::placeholder{
  color:var(--font-color);
}

/* Main area styling */
main {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #fff;
}


.movie{
  width: 300px;
  margin: 1rem;
  background-color: var(--secondary-color);
  color: var(--font-color);
  border-radius: 0px 24px 24px 24px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12),0 3px 1px -2px rgba(0,0,0,.2);
}

.movie img {
  width: 100%;
  border-top-right-radius: 24px;
}

.movie-info{
  padding: 0.5rem 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  letter-spacing: 0.8px;
  font-size: 1.2rem;
}

.movie-info h3 {
  margin: 1px 3px 0 0;
  font-size: 1.3rem;
  letter-spacing: 1px;
}

.movie-info span{
  color: var(--font-color);
  font-size: 1rem;
  background-color: var(--primary-color);
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  font-weight: 600;
  text-shadow: 1px 1px var(--grey);

}

.movie-info span.green{
  color: var(--high-rating);
}

.movie-info span.red{
  color: var(--low-rating);
}

.movie-info span.yellow{
  color: var(--med-rating);
}

.movie .overview {
  padding: 2rem 0.5rem 2rem 0.5rem;
  font-weight: 400;
  background-color: var(--grey);
  color: rgba(225, 225, 225);
  
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 100%;
  /* Moves it off screen to begin with */
  transform: translateY(101%);
  transition: transform 0.3s ease-in;
}

.movie:hover .overview{
  transform: translateY(0);
}

.movie .overview h3{
  font-weight: 600;
  letter-spacing: 0.05em;
  font-size: 1.5rem; 
  border-bottom: 1px solid grey;
  font-family: var(--font-family);
}

.movie .overview p{
   padding: 1rem 0 0 0;
   line-height: 1.6;
}
/* Anything under 550 px */
@media(max-width: 650px){
  header .search {
    width: 200px;
  }
  header .search:focus-visible{
    width: 250px;
  }
}